.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure space between logo and links */
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: top 0.3s;
  z-index: 1000;
}

.navbar.hidden {
  top: -100px; /* Adjust based on the height of the navbar */
}

.navbar.transparent {
  background-color: transparent; /* Make the navbar transparent */
}

.navbar.frosted {
  background-color: rgba(194, 243, 255, 0.062); /* Frosted glass effect */
  backdrop-filter: blur(10px); /* Apply blur effect */
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding-right: 50px;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(0, 119, 255);
}

.navbar-logo img {
  height: 70px;
}

/* filepath: /d:/GitHubCode/React/docusign-hack-project-front/src/Footer.css */
.footer {
  background-color: rgba(194, 243, 255, 0.062);
  backdrop-filter: blur(10px);
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s;
}

.footer.hidden {
  bottom: -100px; /* Adjust based on the height of the footer */
}